<a href="https://colab.research.google.com/github/rasho330/DATA-255_Deep_Learning/blob/main/Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import os
os.chdir("/content/drive/Shareddrives/DATA255 Deep Learning/Datasets/Cleaned dataset")
!ls

cleaned_merged_jobs_data.csv   ds_cleaned.csv			  merged_data.csv
data_analyst_cleaned_data.csv  Jobs_NYC_Postings_Cleaned.csv	  merged_jobs_data.csv
Dataset.ipynb		       linked_in_canada_cleaned_data.csv  us_jobs_cleaned.csv
ds2_cleaned.csv		       linked_in_usa_cleaned_data.csv

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re
import sys

In [ ]:
data_science=pd.read_csv("ds_cleaned.csv")
data_science_2=pd.read_csv("ds2_cleaned.csv")
li_usa=pd.read_csv("linked_in_usa_cleaned_data.csv")
li_canada=pd.read_csv("linked_in_canada_cleaned_data.csv")
jobs_nyc=pd.read_csv("Jobs_NYC_Postings_Cleaned.csv")
data_analyst=pd.read_csv("data_analyst_cleaned_data.csv")
us_jobs = pd.read_csv("us_jobs_cleaned.csv")

In [ ]:
data_science.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1784 entries, 0 to 1783
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        1784 non-null   object
 1   company      1784 non-null   object
 2   location     1784 non-null   object
 3   description  1784 non-null   object
 4   skills       1686 non-null   object
dtypes: object(5)
memory usage: 69.8+ KB

In [ ]:
data_science_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3909 entries, 0 to 3908
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Job Title        3909 non-null   object
 1   Job Description  3909 non-null   object
 2   Company Name     3908 non-null   object
 3   Location         3909 non-null   object
dtypes: object(4)
memory usage: 122.3+ KB

In [ ]:
data_science_2 = data_science_2.rename(columns={'Job Title': 'title'})
data_science_2 = data_science_2.rename(columns={'Job Description': 'description'})

In [ ]:
li_usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        256 non-null    object
 1   company      256 non-null    object
 2   description  221 non-null    object
 3   location     256 non-null    object
dtypes: object(4)
memory usage: 8.1+ KB

In [ ]:
li_canada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        197 non-null    object
 1   company      197 non-null    object
 2   description  173 non-null    object
 3   location     197 non-null    object
dtypes: object(4)
memory usage: 6.3+ KB

In [ ]:
jobs_nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2743 entries, 0 to 2742
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Job ID            2743 non-null   int64
 1   Business Title    2742 non-null   object
 2   Job Description   2743 non-null   object
 3   Preferred Skills  2743 non-null   object
dtypes: int64(1), object(3)
memory usage: 85.8+ KB

In [ ]:
jobs_nyc = jobs_nyc.rename(columns={'Business Title': 'title'})
jobs_nyc = jobs_nyc.rename(columns={'Job Description': 'description'})

In [ ]:
jobs_nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2743 entries, 0 to 2742
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Job ID            2743 non-null   int64
 1   title             2742 non-null   object
 2   description       2743 non-null   object
 3   Preferred Skills  2743 non-null   object
dtypes: int64(1), object(3)
memory usage: 85.8+ KB

In [ ]:
data_analyst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2252 entries, 0 to 2251
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Job Title        2252 non-null   object
 1   Job Description  2251 non-null   object
 2   Company Name     2251 non-null   object
 3   Location         2252 non-null   object
 4   Industry         2252 non-null   object
dtypes: object(5)
memory usage: 88.1+ KB

In [ ]:
data_analyst = data_analyst.rename(columns={'Job Title': 'title'})
data_analyst = data_analyst.rename(columns={'Job Description': 'description'})

In [ ]:
data_science

,title,company,location,description,skills
0,"Data Scientist / Bioinformatician, Drug Develo...",HyperMabs Inc.,"Montréal, QC",hypermabs inc fast growing values driven biote...,cooperate company leadership develop company d...
1,Data Scientist (Paid Internship),FPT Software,"Montréal, QC",location montreal quebecduration months june a...,senior undergraduate computer science mathemat...
2,Data Scientist,Air Miles,"Temporarily Remote in Toronto, ON",fun work company people try believe data scien...,demonstrate understanding overall business dat...
3,newNLP Data Scientist (Remote),Wisedocs AI,"Remote in Toronto, ON",us mission make easy accessible company insura...,experience building deploying predictive model...
4,Data Scientist,ACI World,"Hybrid remote in Montréal, QC",position title data scientist reports senior d...,assist supervisor enhancing overall data colle...
...,...,...,...,...,...
1779,Data Scientist,Maya HTT,Montreal,css yuy gt display webkit box webkit ne clamp ...,experience timeseries data choosing potential ...
1780,Data Scientist,ACI World,Montreal,css yuy gt display webkit box webkit ne clamp ...,assist supervisor enhancing overall data colle...
1781,Data Scientist,Atlantic Controls,Mount Pearl,css yuy gt display webkit box webkit ne clamp ...,us atlantic controls purpose help industry thr...
1782,"Associate Educator, Data Scientist",BrainStation,Toronto,css yuy gt display webkit box webkit ne clamp ...,hands development experience working version c...
1783,Data Scientist,Pivotree,Remote,css yuy gt display webkit box webkit ne clamp ...,experience agile development practices experie...

In [ ]:
data_science_2

,title,description,Company Name,Location
0,Senior Data Scientist,hopper hopper mission make booking travel fast...,hopper,"New York, NY"
1,"Data Scientist, Product Analytics",noom use scientifically proven methods help us...,noom us,"New York, NY"
2,Data Science Manager,decode https www decode com data science manag...,decode,"New York, NY"
3,Data Analyst,sapphire digital seeks dynamic driven mid leve...,sapphire digital,"Lyndhurst, NJ"
4,"Director, Data Science",director data science description edelman inte...,united entertainment group,"New York, NY"
...,...,...,...,...
3904,AWS Data Engineer,us tachyon technologies digital transformation...,tachyon technologies,"Dublin, OH"
3905,Data Analyst â Junior,job description interpret data analyze rests u...,staffigo technical services llc,"Columbus, OH"
3906,Security Analytics Data Engineer,job descriptionthe security analytics data eng...,pds tech inc,"Dublin, OH"
3907,Security Analytics Data Engineer,security analytics data engineer interface sec...,data resource technologies,"Dublin, OH"
3908,Patient Safety Physician or Safety Scientist -...,help us transform patients ves ucb put heart s...,ucb,"Slough, OH"

In [ ]:
data_analyst

,title,description,Company Name,Location,Industry
0,"Data Analyst, Center on Immigration and Justic...",eager roll sleeves harness data drive pocy cha...,vera institute justice,"New York, NY",Social Assistance
1,Quality Data Analyst,overview provides analytical technical support...,visiting nurse service new york,"New York, NY",Health Care Services & Hospitals
2,"Senior Data Analyst, Insights & Analytics Team...",looking senior data analyst love mentorship da...,squarespace,"New York, NY",Internet
3,Data Analyst,requisition numberrr remote yes collaborate cr...,celerity,"New York, NY",IT Services
4,Reporting Data Analyst,fanduel group fanduel group world class team b...,fanduel,"New York, NY",Sports & Recreation
...,...,...,...,...,...
2247,RQS - IHHA - 201900004460 -1q Data Security An...,maintains systems protect data unauthorized us...,avacend inc,"Denver, CO",Staffing & Outsourcing
2248,Senior Data Analyst (Corporate Audit),position senior data analyst corporate audit j...,arrow electronics,"Centennial, CO",Wholesale
2249,"Technical Business Analyst (SQL, Data analytic...",title technical business analyst sql data anal...,spiceorb,"Denver, CO",-1
2250,"Data Analyst 3, Customer Experience",summary responsible working cross functionally...,contingent network services,"Centennial, CO",Enterprise Software & Network Solutions
2251,Senior Quality Data Analyst,bring body mind heart spirit work senior quaty...,scl health,"Broomfield, CO",Health Care Services & Hospitals

In [ ]:
data_science_2 = data_science_2.drop(['Company Name', 'Location'], axis=1)

In [ ]:
data_analyst = data_analyst.drop(['Company Name', 'Location', 'Industry'], axis=1)

In [ ]:
data_science = data_science.drop(['company', 'location', 'skills'], axis=1)

In [ ]:
li_usa = li_usa.drop(['company', 'location'], axis=1)

In [ ]:
li_canada = li_canada.drop(['company', 'location'], axis=1)

In [ ]:
jobs_nyc = jobs_nyc.drop(['Job ID', 'Preferred Skills'], axis=1)

In [ ]:
data_science.info()
data_science_2.info()
data_analyst.info()
li_usa.info()
li_canada.info()
jobs_nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1784 entries, 0 to 1783
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        1784 non-null   object
 1   description  1784 non-null   object
dtypes: object(2)
memory usage: 28.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3909 entries, 0 to 3908
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        3909 non-null   object
 1   description  3909 non-null   object
dtypes: object(2)
memory usage: 61.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2252 entries, 0 to 2251
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        2252 non-null   object
 1   description  2251 non-null   object
dtypes: object(2)
memory usage: 35.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        256 non-null    object
 1   description  221 non-null    object
dtypes: object(2)
memory usage: 4.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        197 non-null    object
 1   description  173 non-null    object
dtypes: object(2)
memory usage: 3.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2743 entries, 0 to 2742
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        2742 non-null   object
 1   description  2743 non-null   object
dtypes: object(2)
memory usage: 43.0+ KB

In [ ]:
# Concatenate the dataframes
merged_df = pd.concat([data_analyst, data_science, data_science_2, li_canada, li_usa, jobs_nyc, us_jobs], ignore_index=True)

# Save the merged dataframe to a new CSV file
merged_df.to_csv('merged_jobs_data.csv', index=False)

# Print the first few rows of the merged dataframe
print(merged_df.head())

                                               title  \
0  Data Analyst, Center on Immigration and Justic...
1                               Quality Data Analyst
2  Senior Data Analyst, Insights & Analytics Team...
3                                       Data Analyst
4                             Reporting Data Analyst

                                         description
0  eager roll sleeves harness data drive pocy cha...
1  overview provides analytical technical support...
2  looking senior data analyst love mentorship da...
3  requisition numberrr remote yes collaborate cr...
4  fanduel group fanduel group world class team b...

In [ ]:
merged_df.head(5)

,title,description
0,"Data Analyst, Center on Immigration and Justic...",eager roll sleeves harness data drive pocy cha...
1,Quality Data Analyst,overview provides analytical technical support...
2,"Senior Data Analyst, Insights & Analytics Team...",looking senior data analyst love mentorship da...
3,Data Analyst,requisition numberrr remote yes collaborate cr...
4,Reporting Data Analyst,fanduel group fanduel group world class team b...

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18094 entries, 0 to 18093
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        18093 non-null  object
 1   description  18033 non-null  object
dtypes: object(2)
memory usage: 282.8+ KB

In [ ]:
# Check for null values
null_values = merged_df.isnull().sum()

# Display the null values
print("Null values in the DataFrame:")
print(null_values)

Null values in the DataFrame:
title           1
description    61
dtype: int64

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18094 entries, 0 to 18093
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        18093 non-null  object
 1   description  18033 non-null  object
dtypes: object(2)
memory usage: 282.8+ KB

In [ ]:
merged_df['description'][2]

'looking senior data analyst love mentorship data visuazation generating actionable insights raw data role opportunity organizational influencer generate insights good degree autonomy partner data science grow deeper analytical skills joining insights analytics team team tasked developing insights reporting support customers advisors needs team sits within customer operations team also connected product organization role work mainly customer operations stakeholders set kpis evaluate effectiveness current strategies workflows involved many aspects data operations data auditing building dashboards analytical insights example review code junior analysts organize coding workshops build metrics evaluate performance advisors eminating confounding variables creating weighted measures account inidual success define metrics create dashboards track success current strategic direction analyze text based interactions advisors improve care quaty also analyze interactions chatbot improve responses bot match customer expectations collaborate data engineering team pursuit better data modeng collaborate data science team modeng heavy pursuits ke topic modeng search recommendations mentor members analytics team demands excel cture teaching learning report manager insights analytics team customer operations squarespace new york offices responsibilities design develop kpis reports dashboards using bi data visuazation tools clearly track effectiveness current strategies execute communicate impactf analyses using sql r python improve customer experience drive customer operations product roadmap raise skill level analytics team reviewing code organizing training sessions acting mentor introducing new analytical methods tools help design evaluate experiments pilots setting clear hypotheses success metrics well using right statistical methods analyses effectively partner customer operations product stakeholders well data engineering team qualifications years experience data analyst data scientist relevant field worked large datasets transform data meaningf insights mastery sql experience r python experience dashboarding bi tools ke chartio looker tableau experience data cleaning analysis presentation non technical stakeholders bachelor degree quantitative logic driven discipne intellectual curiosity deep love mentorship generating actionable insights preferred advanced degree master phd quantitative field preferred experience topic modeng text analytics natural language processing hiring various experience levels particarly interested erse team broad set skills viewpoints seems ke opportunity ke explore sure quafy encourage apply anyway squarespace squarespace makes beautif products help people creative ideas succeed blending elegant design sophisticated engineering empower milons people iniduals local artists entrepreneurs shaping world iconic businesses share stories world squarespace team headquartered downtown new york city offices dubn portland information visit www squarespace com today milon people around globe use squarespace share different perspectives experiences world embrace celebrate ersity customer base also strive employees squarespace committed equal employment opportunity regardless race color ancestry region sex national origin sexual orientation age citizenship marital status disabity gender gender identity expression veteran status proud equal opportunity workplace'

In [ ]:
# Function to perform text cleaning without removing stop words
def clean_text(text):
    # Remove HTML tags
    text = re.sub(r'<.*?>', '', text)

    # Remove special characters and numbers
    text = re.sub('[^a-zA-Z]', ' ', text)

    # Remove specific words
    text = text.replace('div', '').replace('li', '').replace('ul', '')

    # Remove extra white spaces
    text = re.sub(r'\s+', ' ', text).strip()

    # Convert text to lowercase
    text = text.lower()

    return text

In [ ]:
# Clean columns
merged_df['title'] = merged_df['title'].apply(clean_text)

TypeError: ignored

In [ ]:
merged_df['title'][:25]

In [ ]:
# Drop rows with null values
merged_df.dropna(inplace=True)

# Save the cleaned dataframe to a new CSV file
merged_df.to_csv('cleaned_merged_jobs_data.csv', index=False)

# Print the first few rows of the cleaned dataframe
merged_df.head(5)